# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
*.tar.gz
FETCH_USAGE.txt
FILES_CLEAN.txt
FILES_TO_FIX.txt
MISSING_ERROR_STATE.txt
MISSING_REDIRECT.txt
MISSING_SESSION_HANDLER.txt
PROJECT_EXPORTS.txt
.local-archive/
